---
import CompatibilityList from "~/components/compatibility-list.astro";
import ContentSection from "~/components/content-section.astro";
import type { CompatibilityItem } from "~/types";

const frameworks: Array<CompatibilityItem> = [
  {
    title: "Free Site Visit",
    icon: "mdi:account-hard-hat",
    url: "#service",
  },
  {
    title: "Free Delivery",
    icon: "mdi:truck-delivery-outline",
    url: "#service",
  },
  {
    title: "Free Installation",
    icon: "mdi:tools",
    url: "#service",
  },
  {
    title: "COD",
    icon: "mdi:cash-check",
    url: "#service",
  }
];

---

<ContentSection title="Services" id="service">
  <Fragment slot="lead">
    Homesolar <span class="text-primary">Provides various</span> ways to fullfill
    <span class="text-primary">Customers</span>
    Orders <span class="text-primary">in easy way</span>.
  </Fragment>
  <CompatibilityList
    items={frameworks}
    title="Services"
    url="#services"
  />
  {/*<CompatibilityList
    items={platforms}
    title="Platforms"
    url="https://docs.astro.build/guides/deploy/"
  />*/}
</ContentSection>
