---
import { Icon } from "astro-icon";

const Input = {
  id: {
    type: "integer",
    required: false,
    read_only: true,
    label: "ID",
  },
  name: {
    type: "string",
    required: true,
    read_only: false,
    label: "Name",
    max_length: 150,
  },
  email: {
    type: "email",
    required: false,
    read_only: false,
    label: "Email",
    max_length: 150,
  },
  mobile: {
    type: "string",
    required: true,
    read_only: false,
    label: "Mobile",
    max_length: 15,
  },
  address: {
    type: "string",
    required: true,
    read_only: false,
    label: "Address",
    max_length: 1000,
  },
};
type InputType = typeof Input;
type InputPost = {
  [key in keyof InputType]: InputType[key]["type"];
};
---

<script>
  const success = false;
  let name = document.getElementById("full-name");
  let email = document.getElementById("email");
  let phone = document.getElementById("phone");
  let address = document.getElementById("address");
  const submit = async () => {
    const resp = await fetch("https://homesolar.pythonanywhere.com", {
      method: "POST",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify({
        name: name?.value,
        email: email?.value,
        mobile: phone?.value,
        address: address?.value,
      }),
    });
    return resp.status;
  };

  let button = document.getElementById("submit");
  let spinner = document.getElementById("circle");
  button?.addEventListener("click", (e) => {
    spinner?.classList.remove("hidden");
    e.preventDefault();
    if (success) {
      alert("Form Already Submitted!");
    } else {
      submit()
        .then((data) => {
          if (data === 201) {
            button.classList.remove("bg-indigo-600");
            button.classList.remove("focus:ring-indigo-500");
            button.classList.remove("hover:bg-indigo-700");
            button.classList.remove("bg-red-600");
            button.classList.remove("focus:ring-red-500");
            button.classList.remove("hover:bg-red-700");
            button.classList.add("bg-green-600");
            button.classList.add("focus:ring-green-500");
            button.classList.add("hover:bg-green-700");
            button.innerText = "Submitted";
          } else {
            button.classList.remove("bg-indigo-600");
            button.classList.remove("focus:ring-indigo-500");
            button.classList.remove("hover:bg-indigo-700");
            button.classList.remove("bg-green-600");
            button.classList.remove("focus:ring-green-500");
            button.classList.remove("hover:bg-green-700");
            button.classList.add("bg-red-600");
            button.classList.add("focus:ring-red-500");
            button.classList.add("hover:bg-red-700");
            button.innerText = "Fill all forms correctly!";
          }
          spinner?.classList.add("hidden");
        })
        .catch((error) => {
          spinner?.classList.add("hidden");
        });
    }
  });
</script>
<div class="z-10 flex min-h-full w-full items-center py-0 px-4 sm:px-6 lg:px-8">
  <div class="w-full max-w-sm space-y-8 rounded-lg bg-white px-8 py-8">
    <div>
      <h2 class="text-md mt-6 text-center font-bold tracking-tight text-black">
        Contact us for solar system
      </h2>
    </div>
    <form class="mt-8 space-y-6" action="#" method="POST">
      <input type="hidden" name="remember" value="true" />
      <div class="-space-y-2px rounded-md shadow-sm">
        <div class="my-2">
          <label for="full-name" class="sr-only">Full Name</label>
          <input
            id="full-name"
            name="name"
            type="text"
            required
            class="relative block w-full appearance-none rounded-none rounded-t-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
            placeholder="Enter your full name"
          />
        </div>

        <div class="my-2 rounded">
          <label for="phone" class="sr-only">Enter Your Phone Number</label>
          <input
            id="phone"
            name="phone"
            type="number"
            required
            class="relative block w-full appearance-none rounded-none rounded-b-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
            placeholder="Enter Your Phone Number"
          />
        </div>

        <div class="my-2">
          <label for="password" class="sr-only">E-mail</label>
          <input
            id="email"
            name="email"
            type="email"
            required
            class="relative block w-full appearance-none rounded-none rounded-b-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
            placeholder="Enter your email address"
          />
        </div>

        <div class="my-2">
          <label for="address" class="sr-only">Address</label>
          <textarea
            id="address"
            name="address"
            required
            class="relative block w-full appearance-none rounded-none rounded-b-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
            placeholder="Enter your full address"></textarea>
        </div>
      </div>

      <div class="flex flex-row justify-between gap-3">
        <a
          href="tel:+918441006849"
          class="group relative flex w-full items-center justify-center rounded-md border border-transparent bg-green-600 py-2 px-4 font-medium text-white text-sm hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2"
        >
          <Icon name="mdi:phone" class="h-6 w-6" />
          <h2 class="text-center">call</h2>
        </a>
        <button
          type="submit"
          id="submit"
          class="group relative flex w-full items-center justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 font-medium text-white text-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
        >
          <svg
            class="-ml-1 mr-3 hidden h-5 w-5 animate-spin text-white"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            id="circle"
            viewBox="0 0 24 24"
          >
            <circle
              class="opacity-25"
              cx="12"
              cy="12"
              r="10"
              stroke="currentColor"
              stroke-width="4"></circle>
            <path
              class="opacity-75"
              fill="currentColor"
              d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
            ></path>
          </svg>
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
