---
import { Picture } from "@astrojs/image/components";
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import type { FooterLink } from "~/types";
import ContactUs from "./contact-us.astro";
import solar from "~/assets/solar.jpg";


const widths = [450, 800];
const sizes = "(min-width: 1024px) 100vw, (min-width: 768px) 30vw, 80vw";
---
<ContentSection title="Just Go Solar" id="contact">
  <Picture class="object-cover absolute left-0 z--10 w-full h-full inset-0"
  slot='eyebrow'
  src={solar}
  widths={widths}
  sizes={sizes}
  alt="Solar Panels"/>
  <Icon name="fa-brands:linkedin" slot="eyebrow" class="h-fit z-10 absolute max-h-8 max-w-8 right-5"/>
  <Fragment slot="lead">
    <ContactUs />
  </Fragment>
  
  {/*<Fragment slot="lead">
    Homesolar
    <span class="text-primary">modern</span> web.
    <span class="text-primary">Lightning-fast</span>
  performance meets <span class="text-primary">powerful</span> developer experience.
  </Fragment>
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      href="https://docs.astro.build/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="telescope" class="h-8" />
      <span>Read the docs</span>
    </a>
    <a
      href="https://astro.new/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="rocket" class="h-8" />
      <span>Try it out</span>
    </a>
  </div>*/}
</ContentSection>
